@using AddresBookEL.ViewModels
@model AddressVM
@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form>
        <div class="row">
            <div class="col-6">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>
                <label>Adres Başlığı</label>
                <input type="text"
                       class="form-control"
                       id="Titleinput" required />
            </div>
            <div class="col-6">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>

                <label>İl</label>
                <select id="CitySelect" name="City" class="form-control">
                    <option selected value="0">***İl Seçiniz***</option>
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>

                <label>İlçe</label>
                <select id="DistrictSelect" class="form-control">
                    <option selected value="0">***İlçe Seçiniz***</option>
                </select>
            </div>

            <div class="col-4">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>

                <label>Mahalle</label>
                <select id="neighborhoodselect"
                        class="form-control">
                    <option selected value="0">***Mahalle Seçiniz***</option>
                </select>
            </div>

            <div class="col-4">
                <label>Posta Kodu</label>
                <input type="text"
                       class="form-control"
                       id="Postalcode" disabled />
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <textarea id="AddressDetail"
                          class="form-control" rows="3"></textarea>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-6 d-grid" style="float:left">
                <input type="button"
                       class="btn btn-primary"
                       value="Kaydet"
                       id="btnSave" />
            </div>

            <div class="col-6 d-grid" style="float:right">
                <input type="button"
                       class="btn btn-danger"
                       value="Temizle"
                       id="btnClear" />
            </div>

        </div>

        <input id="userid"
               type="hidden" value="@ViewBag.UserId" />
    </form>
</div>

<br />
<div class="row" id="addressdiv" style="margin-right:10px">
    @foreach (AddressVM item in ViewBag.AddressList)
    {
        <div class="col-4">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Neighborhood.District.City.Name - @item.Neighborhood.District.Name</h6>
                    <p class="card-text">@item.Details</p>
                    <a href="#" class="card-link">Sil</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function() {

            $("#DistrictSelect").attr("disabled", true);
            $("#neighborhoodselect").attr("disabled", true);
            $("#CitySelect").val(0);

            $("#CitySelect").on("change", function() {
                var cityId = $("#CitySelect").val();  //this.value;
                console.log(cityId);

                var $districtselect = $("#DistrictSelect");
                $districtselect.empty();
                $districtselect.append("<option selected value='0'>***İlçe Seçiniz***</option>");
                $districtselect.attr("disabled", true);

                var $neighborhoodselect = $("#neighborhoodselect");
                $neighborhoodselect.empty();
                $neighborhoodselect.append("<option selected value='0'>***Mahalle Seçiniz***</option>");
                $neighborhoodselect.attr("disabled", true);

                $("#Postalcode").val('');

                //il combosundan seçilien değer sıfırdan büyükse
                // yani gerçekten il seçildiyse aşağıdaki metoda gitsin
                // o metot aracılığıyla ile ait ilçeleri getirsin
                if (cityId > 0) {
                    $.ajax({
                        type: "Get",
                        url: '/Home/GetCityDistricts/' + cityId,
                        success: function(res) {
                            if (res.issuccess) {
                                var $dropdown = $("#DistrictSelect");
                                $districtselect.empty();
                                $districtselect.append("<option selected value='0'>***İlçe Seçiniz***</option>");
                                // bu bir jquery foreach döngüsüdür.
                                // gelen json sonucunun her birini ilçe combosuna ekler
                                console.log(res.data);
                                $.each(res.data, function() {
                                    $districtselect.append($("<option />").val(this.id).text(this.name));
                                });
                                $('#DistrictSelect').attr("disabled", false);
                            }
                            else {
                                alert(res.message);
                            }
                        },
                        error: function(res) {
                            alert(res.message);
                        },
                    });
                }


            });


            $("#btnSave").on("click", function() {

                //kaydet butonuna basınca neler olacak?
                var cityid = $("#CitySelect").val();
                var districtid = $("#DistrictSelect").val();
                var neighborhoodid = $("#neighborhoodselect").val();
                if (neighborhoodid > 0) {
                    var address = {
                        NeighborhoodId: $("#neighborhoodselect").val(),
                        Title: $("#Titleinput").val(),
                        Details: $("#AddressDetail").val(),
                        PostalCode: $("#Postalcode").val(),
                        UserId: $("#userid").val()
                    };
                    $.ajax({
                        contentType: "application/json charset=utf-8;",
                        type: "Post",
                        url: '/Home/SaveAddress',
                        data: JSON.stringify(address),
                        dataType: "json",
                        success: function(res) {
                            alert("Adres eklendi!");
                            console.log(res.data);
                            //temizlik
                            var newCard ="<div class='col-4'><div class='card' style='width: 15rem;'>";
                            newCard += "<div class='card-body'><h5 class='card-title'>";
                            newCard += res.data.title + "</h5>";
                            newCard += "<h6 class='card-subtitle mb-2 text-muted'>";
                            newCard += res.data.neighborhood.district.city.name;
                            newCard+=" - "+ res.data.neighborhood.district.name + "</h6>";
                            newCard += "<p class='card-text'>"
                             newCard += res.data.details+"</p>";
                            newCard += "<a href='#' class='card-link'>Sil</a>";
                            newCard += "</div></div></div>";
                            $("#addressdiv").append(newCard);
                            ClearInputs();
                        },
                        error: function(res) {
                            alert("DİKKAT: Adres eklenemedi! " + res.message);
                        }
                    });
                }
                else {
                    alert("Zorunlu alanları doldurunuz!");
                    //temizlik
                }

            });

            $("#DistrictSelect").on("change",
                function() {
                    var $neighborhoodselect = $("#neighborhoodselect");
                    $neighborhoodselect.empty();
                    $neighborhoodselect.append("<option selected value='0'>***Mahalle Seçiniz***</option>");
                    $neighborhoodselect.attr("disabled", true);
                    $("#Postalcode").val('');
                    var cityid = $("#CitySelect").val();
                    var districtid = $("#DistrictSelect").val();
                    if (districtid > 0) {
                        $.ajax({
                            type: "Get",
                            url: '/Home/GetDistrictNeighborhoods/' + districtid,
                            success: function(res) {
                                if (res.issuccess) {
                                    console.log(res.data);
                                    $.each(res.data, function() {
                                        $neighborhoodselect.append($("<option />").val(this.id).text(this.name));
                                    });
                                    $('#neighborhoodselect').attr("disabled", false);

                                }
                                else {
                                    alert(res.message);
                                }
                            },
                            error: function(res) {
                                alert(res.message);
                            }
                        });
                    }


                });


            $("#neighborhoodselect").on("change",
                function() {
                    $("#Postalcode").val('');
                    var cityid = $("#CitySelect").val();
                    var districtid = $("#DistrictSelect").val();
                    var neighborhoodid = $("#neighborhoodselect").val();
                    if (neighborhoodid > 0) {
                        $.ajax({
                            type: "Get",
                            url: '/Home/GetNeighborhoodPostalCode?cityid=' + cityid + '&districtid=' + districtid + '&neighborhoodid=' + neighborhoodid,
                            success: function(res) {
                                if (res.issuccess) {
                                    console.log(res.data);
                                    var postacode = res.data;
                                    $("#Postalcode").val(postacode);
                                }
                                else {
                                    alert(res.message);
                                }
                            },
                            error: function(res) {
                                alert(res.message);
                            }
                        });
                    }


                });

            function ClearInputs(){
                $("#Titleinput").val('');
                $("#AddressDetail").val('');
                $("#CitySelect").val(0)
                .trigger('change');
            };
            $("#btnClear").click(function(){
                ClearInputs();
            });

        });
    </script>


}